
<div id="dialog-form" title="Create new item">
    @using (Html.BeginForm("CreateItemAsync", "Item", FormMethod.Post, new { id = "create-item-form" }))
    {
        <div class="form-group">
            <label for="siteName">Name</label>
            <input type="text" class="form-control" id="item-name">
        </div>
        <div class="form-group">
            <label for="siteName">Short name</label>
            <input type="text" class="form-control" id="item-short-name">
        </div>
        <button type="submit" id="async-submit-button" class="btn btn-default">Create</button>
    }
</div>