body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
    Bootstrap customization
*/
.navbar-inverse {
    background-color: #3276b1;
    border-color: #3276b1;
}

    .navbar-inverse .navbar-brand {
        color: #ededed;
    }    
    
    .navbar-inverse .navbar-nav > li > a {
        color: #ededed;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: white;
        color: #3276b1;
    }

.navbar-fixed-top {
    border-width: 0;
}

    select:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    select[disabled],
    select[readonly] {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

textarea {
    width: 100%;
    height: 85px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    textarea[disabled],
    textarea[readonly] {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

.form-control {
    display: inline-block;
}

.create-morditem-form {
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    padding: 10px;
}
    .create-morditem-form p {
        font-size: 1.5em;
    }


.thead-primary th {
    color: white;
    background-color: #3276b1;
    border-color: #285e8e;
}

.well-black {
    background-color: black;
    color: white;
}
    .well-black a {
        color: white;
        text-decoration: none;
    }

/*Width css*/

div .width-1x {
    width: 5em;
}

div .width-2x {
    width: 10em;
}

div .width-3x {
    width: 15em;
}

div .width-4x {
    width: 20em;
}

/*--------------------------*/




